.header {
  color: white;
  font-weight: bold;
  font-size: 40px;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.box {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 280px;
  height: 280px;
  margin: 15px;
  border-radius: 5px;
  padding-left: 7px;
  padding-bottom: 10px;
}
.job > span {
  font-size: 26px;
  margin-top: 10px;
}
.job > div > span {
  font-size: 18px;
}
.red {
  border: 10px solid #e30413;
}
.green {
  border: 10px solid #3ea535;
}
.yellow {
  border: 10px solid #ffee00;
}
.blue {
  border: 10px solid #039fe3;
}
.pink {
  border: 10px solid #f8c5af;
}
.footer {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: auto;
}
.footer > div > span {
  padding-right: 5px;
}
.footer > div > a {
  padding-right: 5px;
}

@media (max-width: 1024px) {
  .jobs {
    width: 100%;
  }
}
